bitsandbytes==0.44.0
datasets==3.0.0
fastapi==0.115.5
filelock==3.16.1
fire==0.7.0
google-api-python-client==2.162.0
google-auth==2.38.0
google-cloud-documentai==2.35.0
google-generativeai==0.8.4
gradio==5.18.0
huggingface-hub
matplotlib==3.10.1
numpy==2.1.1
pandas==2.2.2
pydantic==2.7.1
python-dotenv==1.0.1
PyYAML==6.0.1
requests>=2.32.2
scikit-learn==1.5.0
scipy==1.13.0
spacy
SQLAlchemy==2.0.30
torch==2.3.0
transformers==4.41.2
uvicorn==0.29.0
streamlit==1.43.2
opencv-python==4.11.0.86
surya-ocr==0.13.0
pdf2image
openai
presidio_analyzer
openpyxl